# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración sensibles
.env

# Logs
logs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints