# Entornos virtuales
venv/
.venv/
env/

__pycache__/
*.pyc
logs/

# Archivos de configuración sensibles
.env

# Logs
logs/

ssh-key-2025-10-27.key
.key

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
__pycache__/*
*.pyc
*.pyo
*.pyd
.Python
